
<div class="task-button-container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <mat-select [(value)]="filter" (selectionChange)="applyFilter()">
      <mat-option value="">All</mat-option>
      <mat-option value="true">Completed</mat-option>
      <mat-option value="false">Pending</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-mini-fab aria-label="add" (click)="openTaskFormDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div *ngFor="let task of filteredTasks">
  <mat-card
    class="example-card"
    appearance="outlined"
    [ngClass]="{ 'completed-task': task.completed, 'pending-task': !task.completed }"
  >
    <mat-card-header>
      <mat-card-title>{{ task.id }} - {{ task.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ task.description }}</p>
    </mat-card-content>
    <mat-card-footer class="example-card-footer">
      <mat-chip-set aria-label="Chihuahua traits" class="chip-set">
        <button mat-icon-button aria-label="Edit task" (click)="updateState(task.id)">
          <mat-icon>task_alt</mat-icon>
        </button>
        <button mat-icon-button aria-label="Delete task" (click)="deleteTask(task.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button aria-label="Edit task" (click)="openTaskFormDialog(task)">
          <mat-icon>edit_note</mat-icon>
        </button>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>
  <br />
</div>
